.radius-standard {
  border-radius: 15px;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  -ms-border-radius: 15;
  -o-border-radius: 15;
}

.radius-cummed {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.radius-edge {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
