.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-row {
  flex-direction: row;
}

.f-col {
  flex-direction: column;
}

.just-content-space-between {
  justify-content: space-between;
}

.just-content-start {
  justify-content: start;
}

.just-content-end {
  justify-content: end;
}

.align-items-baseline {
  align-items: baseline;
}

.g-1 {
  gap: 0.5vw;
}

.g-2 {
  gap: 1vw;
}

.g-3 {
  gap: 1.5vw;
}

.row-gap-1 {
  row-gap: 0.5vw;
}

.row-gap-2 {
  row-gap: 1vw;
}

.row-gap-3 {
  row-gap: 1.5vw;
}
