@import './base.css';

#app {
  margin: 0 auto;
  padding: 0;
}

main {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.background-trasparent {
  background-color: transparent !important;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-row {
  flex-direction: row;
}

.f-col {
  flex-direction: column;
}

.just-content-space-between {
  justify-content: space-between;
}

.just-content-start {
  justify-content: start;
}

.just-content-end {
  justify-content: end;
}

.btn {
  background-color: transparent;
  outline: none;
  border: none;
  stroke: none;
  background-color: rgb(158, 0, 158);
  transition: all 0.1s;
}

.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
.mw-100 {
  max-width: 100%;
}
.mw-75 {
  max-width: 75%;
}
.mw-50 {
  max-width: 50%;
}
.mw-25 {
  max-width: 25%;
}
.min-w-100 {
  min-width: 100%;
}
.min-w-75 {
  min-width: 75%;
}
.min-w-50 {
  min-width: 50%;
}
.min-w-25 {
  min-width: 25%;
}


.p-1 {
  padding: 1vw;
}
.p-2 {
  padding: 2vw;
}
.p-3 {
  padding: 3vw;
}

.px-1 {
  padding-inline: 1vw;
}
.px-2 {
  padding-inline: 2vw;
}
.px-3 {
  padding-inline: 3vw;
}

.m-1 {
  margin: 1vw;
}
.m-2 {
  margin: 2vw;
}
.m-3 {
  margin: 3vw;
}

.mb-1 {
  margin-bottom: 1vw;
}
.mb-2 {
  margin-bottom: 2vw;
}
.mb-3 {
  margin-bottom: 3vw;
}
.my-1 {
  margin-bottom: 1vw;
  margin-top: 1vw;
}
.my-2 {
  margin-bottom: 2vw;
  margin-top: 2vw;
}
.my-3 {
  margin-bottom: 3vw;
  margin-top: 3vw;
}

.px-1 {
  margin-inline: 1vw;
}
.px-2 {
  margin-inline: 2vw;
}
.px-3 {
  margin-inline: 3vw;
}

.g-1 {
  gap: 0.5vw;
}
.g-2 {
  gap: 1vw;
}
.g-3 {
  gap: 1.5vw;
}

.row-gap-1 {
  row-gap: 0.5vw;
}
.row-gap-2 {
  row-gap: 1vw;
}
.row-gap-3 {
  row-gap: 1.5vw;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
}

.left-0 {
  left: 0;
}


.text-align-start {
  text-align: start;
}

.text-align-center {
  text-align: center;
}



.text-bolder {
  font-weight: bolder;
}
.text-bold {
  font-weight: bold;
}

.font-size-big {
  font-size: 6vh;
}

.font-size-little-big {
  font-size: 4vh;
}

.font-size-medium {
  font-size: 2vh;
}

.font-size-little {
  font-size: 1.5vh;
}

.font-size-subtitle {
  font-size: 0.8vh;
}

.priority {
  padding:2px 6px;
  border-radius:4px;
  text-align: center;
}

.p-high {
  background:#4a1818;
  color:#ff6b6b;
}
.p-medium {
  background: #423008;
  color: #fbbf24;
}
.p-low {
  background: #1e3a8a;
  color: #60a5fa;
}

.btn:hover {
  transform: scale(1.02, 1.02);
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
  -ms-transform: scale(1.02, 1.02);
  -o-transform: scale(1.02, 1.02);

  font-size: x-large;
  font-weight: 530;

  background-color: rgb(124, 0, 124);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 0 2rem; */
  }
}
