@import './base.css';

#app {
  margin: 0 auto;
  padding: 0;
}

main {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.background-trasparent {
  background-color: transparent !important;
}

.btn {
  background-color: transparent;
  outline: none;
  border: none;
  stroke: none;
  background-color: var(--popup-tertiary);
  transition: all 0.1s;
  color: var(--color);
  height: 6vh;
  min-height: 4vh;
  max-width: 13vw;
}

.btn:first-child {
  font-size: large;
}

.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
.mw-100 {
  max-width: 100%;
}
.mw-75 {
  max-width: 75%;
}
.mw-50 {
  max-width: 50%;
}
.mw-25 {
  max-width: 25%;
}
.min-w-100 {
  min-width: 100%;
}
.min-w-75 {
  min-width: 75%;
}
.min-w-50 {
  min-width: 50%;
}
.min-w-25 {
  min-width: 25%;
}

.h-inherit {
  height: inherit;
}
.min-h-100 {
  min-height: 10vh;
}
.min-h-75 {
  min-height: 7.5vh;
}
.min-h-50 {
  min-height: 5vh;
}
.min-h-25 {
  min-height: 2.5vh;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
}

.left-0 {
  left: 0;
}

.priority {
  padding: 2px 6px;
  border-radius: 4px;
  text-align: center;
}

.p-high {
  background: #4a1818;
  color: #ff6b6b;
}
.p-medium {
  background: #423008;
  color: #fbbf24;
}
.p-low {
  background: #1e3a8a;
  color: #60a5fa;
}

.btn:not(select):hover {
  transform: scale(1.01, 1.01);
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transform: scale(1.01, 1.01);
  -moz-transform: scale(1.01, 1.01);
  -ms-transform: scale(1.01, 1.01);
  -o-transform: scale(1.01, 1.01);
  font-size: medium;
  font-weight: 530;
}

.box-shadow {
  box-shadow: 12px 12px 10px 1px rgba(63, 63, 63, 0.2);
}

input {
  background-color: var(--color-background);
}

textarea {
  background-color: var(--color-background);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 0 2rem; */
  }
}
