@import './base.css';

#app {
  margin: 0 auto;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  /* padding: 3px; */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: transparent;
  outline: none;
  border: none;
  stroke: none;
}

.w-100 {
  width: 100%;
}

.p-1 {
  padding: 1vw;
}
.p-2 {
  padding: 2vw;
}
.p-3 {
  padding: 3vw;
}

.px-1 {
  padding-inline: 1vw;
}
.px-2 {
  padding-inline: 2vw;
}
.px-3 {
  padding-inline: 3vw;
}

.btn:hover {
  transform: scale(1.02, 1.02);
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
  -ms-transform: scale(1.02, 1.02);
  -o-transform: scale(1.02, 1.02);

  font-size: x-large;
  font-weight: 530;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 0 2rem; */
  }
}
