.m-1 {
  margin: 1vw;
}
.m-2 {
  margin: 2vw;
}
.m-3 {
  margin: 3vw;
}

.mb-1 {
  margin-bottom: 1vw;
}
.mb-2 {
  margin-bottom: 2vw;
}
.mb-3 {
  margin-bottom: 3vw;
}

.mt-1 {
  margin-top: 1vw;
}
.mt-2 {
  margin-top: 2vw;
}
.mt-3 {
  margin-top: 3vw;
}

.mb-1 {
  margin-bottom: 1vw;
}
.mb-2 {
  margin-bottom: 2vw;
}
.mb-3 {
  margin-bottom: 3vw;
}

.my-1 {
  margin-bottom: 1vw;
  margin-top: 1vw;
}
.my-2 {
  margin-bottom: 2vw;
  margin-top: 2vw;
}
.my-3 {
  margin-bottom: 3vw;
  margin-top: 3vw;
}

.mx-1 {
  margin-left: 1vw;
  margin-right: 1vw;
}
.mx-2 {
  margin-left: 2vw;
  margin-right: 2vw;
}
.mx-3 {
  margin-left: 3vw;
  margin-right: 3vw;
}
