.m-1 {
  margin: 1vw;
}
.m-2 {
  margin: 2vw;
}
.m-3 {
  margin: 3vw;
}

.mb-1 {
  margin-bottom: 1vw;
}
.mb-2 {
  margin-bottom: 2vw;
}
.mb-3 {
  margin-bottom: 3vw;
}
.my-1 {
  margin-bottom: 1vw;
  margin-top: 1vw;
}
.my-2 {
  margin-bottom: 2vw;
  margin-top: 2vw;
}
.my-3 {
  margin-bottom: 3vw;
  margin-top: 3vw;
}
