.p-1 {
  padding: 1vw;
}
.p-2 {
  padding: 2vw;
}
.p-3 {
  padding: 3vw;
}

.px-1 {
  padding-inline: 1vw;
}
.px-2 {
  padding-inline: 2vw;
}
.px-3 {
  padding-inline: 3vw;
}

.pt-1 {
  padding-top: 1vw;
}
.pt-2 {
  padding-top: 2vw;
}
.pt-3 {
  padding-top: 3vw;
}

.px-1 {
  padding-inline: 1vw;
}
.px-2 {
  padding-inline: 2vw;
}
.px-3 {
  padding-inline: 3vw;
}
