.text-align-start {
  text-align: start;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.text-bolder {
  font-weight: bolder;
}
.text-bold {
  font-weight: bold;
}

.font-size-big {
  font-size: 4rem;
}

.font-size-little-big {
  font-size: 2.5rem;
}

.font-size-medium {
  font-size: 1rem;
}

.font-size-little {
  font-size: 1rem;
}

.font-size-subtitle {
  font-size: 0.8rem;
}
